
#collapseLink {
    &.collapsed {
        .card-arrow-less {
            display: none;
        }
        .card-arrow-more {
            display: block;
        }
        .card-btn-arrow {
            transform: rotate(-180deg);
        }
    }
    & .card-arrow-less {
        display: block;
    }
    & .card-arrow-more {
        display: none;
    }

}


