.confirmation-label {
    color: #77838f;
    background-color: rgba(60, 60, 60, 0.1);
    position: relative;
    padding-left: 1.15rem;
    letter-spacing: .8px;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: .60938rem;
    line-height: 1.7;
    padding: .2rem .5rem;
}
